/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  html{
    width: 100%;
    overflow-x: hidden;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'REM', sans-serif;
    color: white;
    background: linear-gradient(to bottom, #8a2be2, #000000);
    animation: gradientAnimation 10s ease-in-out infinite alternate;
    overflow-x: hidden;
  }
  
  /* Estilos de la barra de navegación */
  nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  /* Estilos del héroe */
  .hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #ff8000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  /* Estilos de los servicios */
  .services {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .service {
    margin: 20px;
    max-width: 300px;
    text-align: center;
  }
  
  .service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  .button-whatsapp{
    display: block;
    margin-left: 40%;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    margin-bottom: 5vw;
  }
  .img-whatsapp{
   width: 100%;
   height: 100%;
   object-fit: contain; 
  }

  /*-------------TESTIMONIOS-----------------------------------*/

.testimonials-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .testimonial {
    background-color: #ffffffb5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    padding: 20px;
    margin: 10px;
  }
  
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .testimonial-content h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .testimonial-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #777;
  }
  
  .rating img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .testimonials-section {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonial {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      
    }

    .nav-links{
        display: none;
    }
  }


  /*ESTILOS FORMULARIO DE CONTACTO*/
  .contact {
    background-color: #f5f5f500;
    padding: 80px 20px;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #ccc;
  }
  
  .contact form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ccc;
  }
  
  .contact input,
  .contact select,
  .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .contact textarea {
    resize: vertical;
  }
  
  .contact input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f47725;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .contact input[type="submit"]:hover {
    background-color: #ff963f;
  }
  /* Estilos del pie de página */
  footer {
    margin-top: 100px;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
  }
  
  p{
    margin: 50px;
  }